<header>
    <div class="bar">
      <nav>
        <ul>
          <li id="rajali"><img [src]=myimage width="200px" height="120px" alt="rajali cinemas"></li></ul>
          <button id="home" routerLink="/home-page">Home <i class="fa-solid fa-house-chimney"></i>
          </button>
        <button id="offer" routerLink="/offer" >Offer <i class="fa-solid fa-tag"></i></button>
        
      </nav>
    </div>
  </header>
<div>
    <img id="studio" [src]="cinema">
    <h1>404 Error</h1>
    <h1>Page Not Found</h1>
</div>